*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body{
    list-style: none;
}
section{
    background-color: rgb(125, 126, 126);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form{
        background-color: cornflowerblue;
        border-radius: 0.4rem;
        padding: 1rem;
        width: 20%;
        ul{
            li{
                list-style: none;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                input{
                    border-radius: 0.2rem;
                    height: 2rem;
                    text-indent: 0.5rem;
                }
                #comments{
                    height: 6rem;
                }
                button{
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                    background-color: darkslateblue;
                    border: 2px solid darkslategrey;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover{
                        background-color: white;
                        color: darkslateblue;
                    }
                }
            }
        }
    }
}
#formValues{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    ul{
        list-style: none;
        text-align: center;
        margin: 2rem;
        background-color: aliceblue;
        border-radius: 2rem;
        padding: 2rem;
    }
}
.err{
    border: 3px solid rgb(196, 6, 6);
}
.avatar{
    border-radius: 50%;
}